layout: index
description: Hexo is a fast, simple & powerful blog framework powered by Node.js.
subtitle: 快速、簡單且強大的網誌框架
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 超級快速
      p.intro-feature-desc Node.js 帶給您超級快的檔案產生速度，上百個檔案只需幾秒就能建立完成。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title Markdown 支援
      p.intro-feature-desc Hexo 支援所有 GitHub Flavored Markdown 的功能，您甚至能在 Hexo 使用大部份的 Octopress 外掛。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title 一鍵部署
      p.intro-feature-desc 您只需要一個指令就能把網站部署到 GitHub Pages, Heroku 或其他網站。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title 豐富的外掛
      p.intro-feature-desc Hexo 有強大的外掛系統，您可安裝外掛讓 Hexo 支援 Jade, CoffeeScript。