<div class="post-header">
    <h1 class="logo"><%= config.title %></h1>
    <!-- <a class="go-home" href="<%- url_for() %>"> -->
    <a class="go-home" href="javascript:;" onclick="javascript:window.history.back(); return false;">
        <svg width="8" height="14" viewBox="0 0 8 14">
            <path d="M7 1L1 7l6 6" stroke="#000" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </a>
</div>