layout: index
description: Hexo - รวดเร็ว เรียบง่ายและมีประสิทธิภาพ กรอบบล็อกที่สนับสนุนโดย Node.js
subtitle: 'กรอบบล็อกที่รวดเร็ว เรียบง่ายและมีประสิทธิภาพ'
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title รวดเร็ว
      p.intro-feature-desc โดย Node.js คุณสามารถเริ่มใช้งานได้อย่างรวดเร็วและไม่กี่วินาก็สร้างขึ้นหลายร้อยไฟล์ได้
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title สนับสนุน Markdown
      p.intro-feature-desc Hexo สนับสนุนฟีเจอร์ทั้งหมดของ GitHub Flavored
        Markdown คุณยังสามารถใช้ปลั๊กอินส่วมมากของ Octopress
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title Deploy ด้วยคำสั้งบรรทัดเดียว
      p.intro-feature-desc คุณสามารถ deploy หน้าเว็บไปยัง GitHub Pages Herokuหรือเว็บไซต์อื่นๆด้วยคำสั้งบรรทัดเดียวก็พอ
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title ปลั๊กอินมากมาย
      p.intro-feature-desc Hexo มีระบบปลั๊กอินที่มีประสิทธิภาพ โดยปลั๊กอินต่างๆ Hexo ของคุณจะสามารถสนับสนุน Jade และ CoffeeScript
