layout: index
description: Hexo is a fast, simple & powerful blog framework powered by Node.js.
subtitle: กรอบบล็อก - รวดเร็ว ง่ายๆ และมีประสิทธิภาพ
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title ทำงานได้รวดเร็ว
      p.intro-feature-desc Node.js ทำงานได้รวดเร็วกว่าท่ีคิด แสดงหลายร้อยหน้าเว็บได้ภายในหลายวินาที
       
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title สนับสนุน Markdown
      p.intro-feature-desc Hexo สนับสนุนทุกฟังก์ชันของ GitHub Flavored Markdown แถมยังใช้กับปลั๊กอิน Octopress ได้เกือบทุกปลั๊กอิน
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title  Deploy ได้โดยใช้คำสั่ง Command Line บรรทัดเดียว
      p.intro-feature-desc สามารถ deploy ไปถึง GitHub Pages, Heroku และเว็บไซต์อื่นๆ ด้วยคำสั่งบรรทัดเดียว
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title ปลั๊กอินต่างๆ
      p.intro-feature-desc ติดตั้งปลั๊กอินต่างๆ Hexoจะสนับสนุน Jade และ CoffeeScript ได้
      