
.article-entry
  padding 20px 0
  .highlight
    background-color: #f7fafe
    border: 1px solid $color-light-blue
    margin 5px 10px
    padding: 15px $article-padding
    overflow: auto
    line-height: $font-size * $line-height
    font-family: $font-mono

    table
      width: auto
      border: none

      td
        padding: 0
        border: none !important

    .gutter
      display none

    pre
      margin: 0
      padding: 0

