//Home
#content-outer
  background-color: #e6ecf0
  width: 100%
  padding-top 1rem
  position: relative

  #content-inner
    padding-bottom: 3rem
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
      cursor: pointer
      transition: all 0.2s ease-out

      &:hover
        padding-left: 1rem
        color: $color-light-blue
    ul, ol, dl
      margin-top: 0.4rem
      padding: 0 0 0 0.8rem
  #recent-posts
    margin: auto
    padding: 2rem

    .recent-post-item
      background-color: #fff
      margin-bottom: 3rem
      padding: 10px 20px 10px 20px
      border-radius: 5px
      -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);

      .post-title
        a
          font-size: 1.5rem
          -webkit-transition: all .1s ease-in-out
          -moz-transition: all .1s ease-in-out
          -o-transition: all .1s ease-in-out
          -ms-transition: all .1s ease-in-out
          color: #383838

          &:hover
            color: black
            font-weight  500

      .post-time
      .post-tag
        color #676767
        margin-right: 10px

      .recent-post-content
        img,video,audio
          width 100%
      .read-more
        color: #fff
        font-size: 15px
        background-color: $color-blue
        -webkit-transition: background-color .2s ease-in-out
        -moz-transition: background-color .2s ease-in-out
        -o-transition: background-color .2s ease-in-out
        -ms-transition: background-color .2s ease-in-out
        border-radius: 16px
        line-height: 2
        width: 5rem
        margin: 10px auto
        text-align center
        padding: 0 17px

        &:hover
          background-color: $color-light-blue

        a
          color: white

//About
#page
  background-color white
  position relative
  height: 20rem
  width 80%
  padding 1rem
  margin 0 10%
  font-size: 1rem

  h1
    font-size: 1.5rem

  .article-container
    p:nth-of-type(1)
      position: absolute

      img
        width 100%

//Archive
#tag
#archive
  margin 2rem auto
  padding: 2rem
  background-color $color-white

  h1
    font-size 1.5rem

.article-sort
  padding-left: 1rem
  border-left: 2px solid $color-blue

  &-title
    position: relative
    padding-bottom: 1.2rem
    padding-left: 1rem
    font-size: 1.2rem
    line-height: 1

    &:hover
      &:before
        border-color: $color-light-blue

    &:before
      position: absolute
      top: 0.25rem
      left: calc(-0.5rem + 1px)
      z-index: 1
      width: w = 0.5rem
      height: h = w
      border: 0.5 * w solid $color-blue
      border-radius: w
      background-color: $color-white
      content: ""
      line-height: h
      transition: all 0.2s ease-in-out

    &:after
      position: absolute
      bottom: 0
      left: 0
      z-index: 0
      width: 0.1rem
      height: 1.3rem
      background-color: $color-blue
      content: ""

  &-item
    position: relative
    margin-bottom: 1rem
    transition: all 0.2s ease-in-out

    &:hover
      &:before
        border-color: $color-light-blue

    &:before
      $w = 0.3rem
      position: absolute
      top: 0.48rem
      left: calc(-1rem - 7px)
      width: w = $w
      height: h = w
      border: 0.5 * w solid $color-blue
      border-radius: w
      background-color: $color-white
      content: ""
      line-height: h
      transition: all 0.2s ease-in-out

    &.year
      font-size: 1rem
      color: $color-blue

      &:hover
        &:before
          border-color: $color-light-blue

      &:before
        top: 0.7rem
        border-color: $color-blue

    &__time
      position: absolute
      top: 0.1rem
      color: $a-link-color

    &__title
      display: block
      margin-left: 5rem
      color: $font-black
      text-decoration: none
      font-size: 0.8rem
      cursor: pointer

//Tag
#tag
  ul,li
    list-style:none

  .tag-list
    display: flex
    flex-wrap: wrap
    justify-content: center

    .tag-list-item
      position relative
      padding: 4px 10px
      color: #868686
      border: 1px dashed #a4a4a4
      margin-right: 15px
      margin-bottom: 15px
      padding-right -6px
      cursor: pointer

      &:hover
        color: $color-light-blue !important

      .tag-list-count
        position absolute
        top: 0
        right: 6px
    a
      display: block
      margin: 0 0.4rem

      &:hover
        color: $color-light-blue !important
