#pagination
  margin-top: -20px

  .pagination
    text-align: center

    .page-number
    .extend
      display: inline-block
      background-color: white
      -webkit-transition: all .2s ease-in-out
      -moz-transition: all .2s ease-in-out
      -o-transition: all .2s ease-in-out
      -ms-transition: all .2s ease-in-out
      color: black
      height: 1.6rem
      width: 1.6rem
      line-height: 1.6rem
      margin: 0 0.2rem
      cursor: pointer

      &:hover
        background-color: #2aa3ef
        color: white

    .extend
      width: 3rem
      padding: 0 5px

    .current
      background-color: #95d1f7
      color: $white
      cursor: default