@media screen and (min-width: $sm)
  #post
    width: 60%

@media screen and (min-width: $sm) and (max-width: $bg)
  #post
    width: 70%

@media screen and (max-width: $bg)
  #post
    width: 90%

$base-style
  h1
    font-size: 2em
  h2
    font-size: 1.5em
  h3
    font-size: 1.3em
  h4
    font-size: 1.2em
  h5
    font-size: 1em
  h6
    font-size: 1em
    color: $color-grey
  hr
    border: 1px dashed $color-border
  strong
    font-weight: bold
  em, cite
    font-style: italic
  sup, sub
    font-size: 0.75em
    line-height: 0
    position: relative
    vertical-align: baseline
  sup
    top: -0.5em
  sub
    bottom: -0.2em
  small
    font-size: 0.85em
  acronym, abbr
    border-bottom: 1px dotted
  ul, ol, dl
    margin-top: 0.4rem
    padding: 0 0 0 0.8rem
    list-style: none
  ul, ol
    ul, ol
      margin-top: 0
      margin-bottom: 0
  ul
    list-style: disc
  ol
    list-style: decimal
  dt
    font-weight: bold

#post
  @extend $base-style
  clearfix()
  margin auto
  background-color white
  color: color-default
  padding: $article-padding
  border-radius: 4px
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);

  p, table
    line-height: line-height
    margin: line-height 0

  h1, h2, h3, h4, h5, h6
    font-weight: bold

  h1, h2, h3, h4, h5, h6
    line-height: line-height-title
    margin: line-height-title 0
  a
    color: #7a9eb8
    &:hover
      color: $color-light-blue
  ul, ol, dl
    margin-top: line-height
    margin-bottom: line-height

  table
    width: 100%
    border: none
    border-collapse: collapse
    border-spacing: 0

    th
      font-weight: bold
      border-bottom: 3px solid $color-border
      text-align left

    td
      border-bottom: 1px solid $color-border
      padding: 10px 0

  img, video
    max-width: 100%
    height: auto
    display: block
    margin: auto
    padding: $img-border-padding
    border: 1px solid $img-border-color
    transition: all 0.2s

    &:hover
      box-shadow: 0 0 8px 0 rgba(232, 237, 250, 0.6), 0 2px 4px 0 rgba(232, 237, 250, 0.5)

  iframe
    border: none

  blockquote
    font-family: $font-serif
    font-size: 1.4em
    margin: line-height 20px
    text-align: center
    footer
      font-size: font-size
      margin: line-height 0
      font-family: font-sans
      cite
        &:before
          content: "—"
          padding: 0 0.5em

  .pullquote
    text-align: left
    width: 45%
    margin: 0
    &.left
      margin-left: 0.5em
      margin-right: 1em
    &.right
      margin-right: 0.5em
      margin-left: 1em

  .caption
    color: $color-grey
    display: block
    font-size: 0.9em
    margin-top: 0.5em
    position: relative
    text-align: center

  .video-container
    position: relative
    padding-top: (9 / 16 * 100)% // 16:9 ratio
    height: 0
    overflow: hidden
    iframe, object, embed
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      margin-top: 0

.article-gallery
  background: #000
  position: relative

.article-gallery-photos
  position: relative
  overflow: hidden

.article-gallery-img
  display: none
  max-width: 100%
  &:first-child
    display: block
  &.loaded
    position: absolute
    display: block
  img
    display: block
    max-width: 100%
    margin: 0 auto