header-padding-normal = 10px
header-padding-max = 30px

#header
  position: relative

#logo
  hide-text()
  float: left
  text-decoration: none
  background: url("images/logo.svg")
  width: 50px
  height: 50px
  background-size: @width @height
  position: absolute
  left: gutter-width
  top: 0
  bottom: 0
  margin: auto

#main-nav
  float: left
  padding-left: 60px

.main-nav-item
  float: left

$header-padding
  .home &
    padding-top: header-padding-max
    padding-bottom: header-padding-max

.main-nav-link
  @extend $header-padding
  color: #fff
  text-decoration: none
  line-height: 50px
  opacity: 0.7
  transition: 0.2s
  font-family: font-title
  text-transform: uppercase
  display: block
  padding: header-padding-normal 20px
  &:hover
    opacity: 1
    background: lighten(color-navy, 10%)
    .home &
      background: none

#search-btn-wrap
  float: right
  margin-right: 15px

#search-btn
  cursor: pointer

#lang-select-wrap
  @extend $header-padding
  position: relative
  float: right
  padding: header-padding-normal 0

#lang-select-label
  color: #fff
  opacity: 0.7
  font-family: font-title
  line-height: 50px
  span
    padding-left: 8px
  i
    opacity: 0.7

#lang-select
  opacity: 0
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  -webkit-appearance: menulist-button
  font-size: font-size