#sidebar
  width: sidebar-width
  float: left
  padding-bottom: 40px
  opacity: 0.8
  margin-left: sidebar-width * -1
  display: none
  @media mq-normal
    display: block

.sidebar-title
  margin-top: 40px
  padding: 10px 0
  font-family: font-title
  font-weight: bold
  color: color-link
  display: inline-block
  border-top: 1px solid color-border
  line-height: 1

.sidebar-link
  font-family: font-title
  display: block
  color: color-default
  text-decoration: none
  padding: 7px 0
  line-height: 1
  position: relative
  width: 100%
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  &.current
    color: color-link
  &:hover
    color: color-link-hover

#carbonads
  display: block
  overflow: hidden
  margin-top: 40px
  max-width: 130px
  text-align: left
  font-size: 13px
  line-height: 1.5
  a
    color: inherit
    text-decoration: none
  &:hover
    color: inherit
  span
    display: block
    overflow: hidden

.carbon-img
  display: block
  margin: 0 auto 8px
  line-height: 1

.carbon-text
  display: block
  margin-bottom: 8px

.carbon-poweredby
  display: block
  text-transform: uppercase
  letter-spacing: 1px
  font-size: 9px
  line-height: 1