layout: false
---
@import "nib"

global-reset()

item-background = #eee
item-border = #bbb
arrow-weight = 2px
arrow-width = 30px
arrow-margin = 4px
arrow-size = 6px

body
  font: 300 18px "Helvetica Neue", Helvetica, Arial, sans-serif
  color: #444
  margin: 0

#list
  clearfix()
  padding: 0
  white-space: nowrap

.item
  display: inline-block
  padding-left: arrow-width
  position: relative
  &:before, &:after
    content: ""
    position: absolute
  &:first-child
    padding-left: 0
    &:before, &:after
      display: none
  &:before
    top: 50%
    left: arrow-margin
    width: arrow-width - arrow-margin * 2
    height: arrow-weight
    margin-top: arrow-weight * -0.5
    background: item-border
  &:after
    top: 50%
    left: arrow-width - arrow-margin * 2 - arrow-size * 0.5
    border-width: arrow-size
    border-style: solid
    border-color: transparent transparent transparent item-border
    margin-top: arrow-size * -1

.item-text
  display: block
  padding: 10px 15px
  border: 1px solid item-border
  background: item-background
  line-height: 1