layout: false
---
doctype html
html
  head
    meta(charset="utf-8")
    link(href="filter-flow.css" rel="stylesheet" type="text/css")
  body
    ul#list
      li.item
        span.item-text Swig
      li.item
        span.item-text Pre-filters
      li.item
        span.item-text Markdown
      li.item
        span.item-text Post-filters