layout: index
description: Hexo is a fast, simple & powerful blog framework powered by Node.js.
subtitle: 高速、シンプルかつ強力なブログフレームワーク
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 非常に高速
      p.intro-feature-desc Node.js による信じられない程の生成速度。 数百に及ぶファイルのビルドに要する時間もわずか数秒です。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title Markdown 対応
      p.intro-feature-desc GitHub Flavored Markdown の全ての書式に対応しています。Hexo では Octopress プラグインのほとんどを利用する事もできます。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title コマンド 1 つでデプロイ
      p.intro-feature-desc GitHub Pages, Heroku 等のサイトへのデプロイに必要なのは 1 つのコマンドだけです。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title 豊富なプラグイン
      p.intro-feature-desc Hexo は強力なプラグインの仕組みを持っています。さらに Jade, CofeeScript のプラグインをインストールできます。
