layout: index
description: Hexo adalah kerangka kerja blog yang cepat, sederhana & kuat yang didukung oleh Node.js.
subtitle: Kerangka kerja blog yang cepat, sederhana & kuat
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Sangat Cepat
      p.intro-feature-desc Kecepatan menghasilkan yang luar biasa didukung oleh Node.js. Pembuatan ratusan file hanya membutuhkan beberapa detik.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title Dukungan Markdown
      p.intro-feature-desc Semua fitur GitHub Markdown didukung, termasuk sebagian besar plugin Octopress.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title Penerapan Satu-Perintah
      p.intro-feature-desc Anda hanya perlu satu perintah untuk menerapkan situs Anda ke Halaman GitHub, Heroku, atau platform lain.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Plugin
      p.intro-feature-desc Menampilkan API yang kuat untuk ekstensibilitas tanpa batas. Berbagai plugin tersedia untuk mendukung sebagian besar mesin templat (EJS, Pug, Nunjucks, dan banyak lainnya). Mudah diintegrasikan dengan paket NPM yang ada (Babel, PostCSS, Less / Sass, dll).