// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-default = #444
color-gray = #999
color-border = #e3e3e3
color-navy = hsl(210, 25%, 12%)
color-link = #0e83cd
color-link-hover = lighten(color-link, 10%)

// Typography
font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-serif = Garamond, Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Monaco, Menlo, Consolas, monospace
font-title = Lato, font-sans
font-size = 15px
line-height = 1.6em

// Layout
max-width = 1200px
gutter-width = 12px
sidebar-width = 200px

// Media queries
mq-mobile = "(max-width: 768px)"
mq-normal = "(min-width: 769px)"