layout: index
description: Hexo is a fast, simple & powerful blog framework powered by Node.js.
subtitle: Un framework de blog rapide, simple et puissance
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Ultra-rapide
      p.intro-feature-desc Node.js vous apporte une vitesse de génération incroyable. Des centaines de fichiers peuvent être générés en quelques secondes.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title Support du Mardown
      p.intro-feature-desc Toutes les fonctionnalités de Github Flavored Markdown sont supportées. Vous pouvez même utiliser la plupart des extensions d'Octopress avec Hexo.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title Déploiement en une ligne de commande
      p.intro-feature-desc Vous n'avez besoin que d'une seule ligne de commande pour déployer votre site sur GitHub Pages, Heroku ou sur tout autre site.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Une variété d'extensions
      p.intro-feature-desc Hexo possède un puissance système d'extensions. Vous pouvez installer plusieurs extensions pour Jade et CoffeeScript.
