getting-started-bg = #c8c8c8
getting-started-height = 40px

intro-feature-margin = 50px
intro-feature-column = 3
intro-quick-start-column = 2

#banner
  @extend $banner-background
  padding-top: 50px
  padding-bottom: 50px
  @media mq-normal
    padding-top: 150px

#banner-title
  color: #555
  font: 300 35px font-title
  text-shadow: 1px 0 #eee
  line-height: 1.3

#banner-getting-started
  clearfix()
  padding-top: 30px

#banner-getting-started-prefix
  float: left
  background: getting-started-bg
  font-family: font-mono
  font-size: font-size
  padding-left: 15px
  color: #999
  line-height: getting-started-height

#banner-getting-started-input
  float: left
  background: getting-started-bg
  font-size: font-size
  font-family: font-mono
  color: #555
  border: none
  padding: 0 15px
  margin: 0
  line-height: getting-started-height
  height: getting-started-height
  border-radius: 0

#banner-getting-started-btn
  float: left
  background: #bbb
  color: #777
  text-decoration: none
  width: getting-started-height
  height: @width
  text-align: center
  line-height: @width
  &:before
    content: "\f061"
    font: 16px font-icon
  &:hover
    background: #aaa
    color: #555

#banner-share
  padding: 100px 0 0
  display: none
  @media mq-normal
    display: block

.intro-wrap
  background: #fff
  padding: 40px 0

.intro-title
  column(12)
  font-size: 30px
  font-weight: 300
  font-family: font-title
  color: color-default
  padding-bottom: 20px

.intro-feature
  column(12)
  padding-top: 30px
  @media mq-normal
    column(4)

.intro-quick-start
  column(12)
  padding-top: 30px
  @media mq-normal
    column(6)

.intro-feature-title
  font-size: 18px
  color: color-default
  font-weight: bold

.intro-feature-desc
  color: color-default
  line-height: 1.6
  margin-top: 15px