<div class="archive-list">
    <ul class="archive">
        <% page.posts.each(function (post) { %>
        <li>
            <span class="archive-date"><%= date(post.date, "YYYY.MM.DD") %></span>
            <a class="archive-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
        </li>
        <% }) %>
    </ul>
</div>
<%- partial('_partial/paginator') %>