<!-- GitHub star -->
<a href="https://github.com/hexojs/hexo" target="_blank" aria-label="Star hexojs/hexo on GitHub"><img src="https://img.shields.io/github/stars/hexojs/hexo?style=social" alt="Star"></a>
<!-- GitHub fork -->
<a href="https://github.com/hexojs/hexo" target="_blank" aria-label="Fork hexojs/hexo on GitHub"><img src="https://img.shields.io/github/forks/hexojs/hexo?style=social" alt="Fork"></a>
<!-- NPM Download -->
<a href="https://www.npmjs.com/package/hexo" target="_blank" aria-label="Hexo on NPM"><img src ="https://img.shields.io/npm/dm/hexo?logo=npm&style=social" alt="NPM Downloads"></a>
<!-- Twitter follow button -->
<a href="https://twitter.com/hexojs" target="_blank" aria-label="Follow Hexo on Twiitter"><img src="https://img.shields.io/twitter/follow/hexojs?style=social" alt="Follow @hexojs"></a>

