layout: layout
---
<article class="api">
  <%- partial('_partial/banner', {banner_title: 'API Reference'}) %>
  <div class="outer">
    <div class="inner"></div>
    <div class="page-content"><%- body %></div>
    <%- partial('_partial/sidebar') %>
  </div>
</article>