layout: index
---

.intro-wrap
  .outer
    h2.intro-title Features
  .outer
    .intro-feature
      h3.intro-feature-title Blazing Fast
      p.intro-feature-desc Hexo is powered by Node.js and supports multi-thread generating. Hundreds of files take only seconds to generate.
    .intro-feature
      h3.intro-feature-title Easy Write
      p.intro-feature-desc Hexo supports GitHub Flavored Markdown and all Octopress plugins and highly Jekyll/Octopress compatible.
    .intro-feature
      h3.intro-feature-title Extensibility
      p.intro-feature-desc Hexo supports EJS, Swig &amp; Stylus. You can install more plugins for Haml, Jade, Less supports.

.intro-wrap
  .outer
    h2.intro-title Quick Start
  .outer
    .intro-quick-start
      h3.intro-feature-title 1. install
      p.intro-feature-desc
        figure.highlight
          pre
            code $ npm install hexo -g
    .intro-quick-start
      h3.intro-feature-title 2. Setup
      p.intro-feature-desc
        figure.highlight
          pre
            code $ hexo init blog && cd blog
    .intro-quick-start
      h3.intro-feature-title 3. Generate
      p.intro-feature-desc
        figure.highlight
          pre
            code $ hexo generate
    .intro-quick-start
      h3.intro-feature-title 4. Server
      p.intro-feature-desc
        figure.highlight
          pre
            code $ hexo server