layout: index
description: Hexo is a fast, simple & powerful blog framework powered by Node.js.
subtitle: A fast, simple & powerful blog framework
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Blazing Fast
      p.intro-feature-desc Incredible generating speed powered by Node.js. Hundreds of files take only seconds to build.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title Markdown Support
      p.intro-feature-desc All features of GitHub Flavored Markdown are supported, including most Octopress plugins.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title One-Command Deployment
      p.intro-feature-desc You only need one command to deploy your site to GitHub Pages, Firebase Hosting, Heroku, Netlify, ZEIT or other platforms.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Plugins
      p.intro-feature-desc Various plugins are available to generate sitemap and RSS, insert player for music or video, intergrate search engine and support most template engines.