layout: index
description: Hexo is a fast, simple & powerful blog framework powered by Node.js.
subtitle: 快速、简洁且高效的博客框架
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 超快速度
      p.intro-feature-desc Node.js 所带来的超快生成速度，让上百个页面在几秒内瞬间完成渲染。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title 支持 Markdown
      p.intro-feature-desc Hexo 支持 GitHub Flavored Markdown 的所有功能，甚至可以整合 Octopress 的大多数插件。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title 一键部署
      p.intro-feature-desc 只需一条指令即可部署到 GitHub Pages, Heroku 或其他网站。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title 丰富的插件
      p.intro-feature-desc Hexo 拥有强大的插件系统，安装插件可以让 Hexo 支持 Jade, CoffeeScript。