<footer id="footer">
  <div class="outer">
    <div class="inner">
      <div id="footer-copyright">
        &copy; <%= new Date().getFullYear() %> <a href="http://zespia.tw">SkyArrow</a><br>
        Background: <a href="http://subtlepatterns.com/shattered/" target="_blank">Shattered</a> by <a href="http://luukvanbaars.com/" target="_blank">Luuk van Baars</a>
      </div>
      <div id="footer-links">
        <a href="https://twitter.com/<%= theme.twitter %>" id="footer-link-twitter" class="footer-link" target="_blank"><span>Twitter</span></a>
        <a href="https://github.com/tommy351/hexo" id="footer-link-github" class="footer-link" target="_blank"><span>GitHub</span></a>
      </div>
    </div>
  </div>
</footer>