layout: index
description: O Hexo é um rápido, simples & poderoso framework para blogs em Node.js.
subtitle: Um rápido, simples e poderoso framework para blogs
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Rápido
      p.intro-feature-desc O Node.js proporciona uma incrível velocidade na hora de gerar o conteúdo. Centenas de aquivos são gerados em alguns segundos.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title Suporta Markdown
      p.intro-feature-desc Todos os recursos do GitHub Flavored Markdown são suportados. Você pode até usar a maioria dos plugins do Octopress no Hexo.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title Deploy com Apenas um Comando
      p.intro-feature-desc Você só precisa de um comando para implantar seu site no Github Pages, Heroku ou outras hospedagens.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Vários Plugins
      p.intro-feature-desc O Hexo tem um poderoso sistema de plugins. Você pode instalar mais plugins como: Jade/Pug, CoffeeScript e etc....
