layout: index
description: Hexo is a fast, simple & powerful blog framework powered by Node.js.
subtitle: Быстрый, мощный и простой фреймворк для блога
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Молниеносный
      p.intro-feature-desc Node.js даёт молниеносную скорость. Генерация сотни файлов занимает всего несколько секунд.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title Поддержка Markdown
      p.intro-feature-desc Поддерживаются все возможности GitHub Flavored Markdown. Возможность использовать большинство плагинов Octopress в Hexo.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title Размещение одной командой
      p.intro-feature-desc Нужна лишь одна команда для размещения сайта на GitHub Pages, Heroku и других хостингах.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Различные плагины
      p.intro-feature-desc Hexo обладает мощной системой плагинов. Можно установить различные расширения для Jade и CoffeeScript.
