name: Tester

on: pull_request_target

jobs:
  tester:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: refs/pull/${{ github.event.pull_request.number }}/merge
      - name: Use Node.js
        uses: actions/setup-node@v3
      - name: Install Dependencies
        run: npm install
      - name: Lint
        run: npm run eslint
      - name: Test
        run: npm run build
        env:
          CI: true
      - name: Comment PR
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          path: public/validate_theme.txt
